substitutions:
  pm1_multiplier: "1.0"
  pm1_offset: "0.0"
  pm2_5_multiplier: "1.0"
  pm2_5_offset: "0.0"
  pm10_multiplier: "1.0"
  pm10_offset: "0.0"

uart:
  - rx_pin: GPIO1
    baud_rate: 9600
    id: pms
    # debug:
    #   direction: BOTH
    #   dummy_receiver: false
    #   after:
    #     delimiter: "\n"
    #   sequence:
    #     - lambda: UARTDebug::log_string(direction, bytes);

sensor:
  - platform: pmsx003
    type: PMSX003
    uart_id: pms
    pm_1_0:
      name: "${location} PM 1 Concentration"
      icon: mdi:grain
      id: pm1
      unit_of_measurement: "µg/m³"
      device_class: "pm1"
      accuracy_decimals: 0
      filters:
        - multiply: ${pm1_multiplier}
        - offset: ${pm1_offset}
        - sliding_window_moving_average:
            window_size: 5
            send_every: 5
        - or:
          - throttle_average: 60s
          - delta: 10
        - round: 0
    pm_2_5:
      name: "${location} PM 2.5 Concentration"
      icon: mdi:grain
      id: pm2_5
      unit_of_measurement: "µg/m³"
      device_class: "pm25"
      accuracy_decimals: 0
      filters:
        - multiply: ${pm2_5_multiplier}
        - offset: ${pm2_5_offset}
        - sliding_window_moving_average:
            window_size: 5
            send_every: 5
        - or:
          - throttle_average: 60s
          - delta: 10
        - round: 0
    pm_10_0:
      name: "${location} PM 10 Concentration"
      icon: mdi:grain
      id: pm10
      unit_of_measurement: "µg/m³"
      device_class: "pm10"
      accuracy_decimals: 0
      filters:
        - multiply: ${pm10_multiplier}
        - offset: ${pm10_offset}
        - sliding_window_moving_average:
            window_size: 5
            send_every: 5
        - or:
          - throttle_average: 60s
          - delta: 10
        - round: 0
  - platform: aqi
    name: "${location} Air Quality Index"
    id: aqi_sensor
    pm_2_5: pm2_5
    pm_10_0: pm10
    calculation_type: CAQI  # AQI or CAQI :contentReference[oaicite:3]{index=3}
    # "All other options from Sensor" apply here too :contentReference[oaicite:4]{index=4}
    icon: mdi:weather-hazy
    accuracy_decimals: 0
    filters:
      - sliding_window_moving_average:
          window_size: 5
          send_every: 5
      - or:
          - throttle_average: 60s
          - delta: 5
      - round: 0
