*.pyc
.google_maps_location_sharing.cookies.*
.google_maps_location_sharing.cookies_old
.homeconnect-token-cache
.storage
.ssh
.google.token
.cloud
.vscode
tts/
www/sander.png
www/tamara.png
.HA_VERSION
.uuid
personal/
freenas.yaml
plex.conf
home-assistant.log*
home-assistant_v2.db
secrets.yaml
ip_bans.yaml
known_devices.yaml
*.db-shm
*.db-wal
.google_maps_location_sharing.cookies.sanderbloklocation_gmail_com
/google_calendars
!.storage/lovelace
google_calendars.yaml
home-assistant_v2.db*
image/847be076e5a03fcb345e52f9aeecc067/512x512
image/847be076e5a03fcb345e52f9aeecc067/original
image/de0634308c25e8a94097cea33a993eb6/512x512
image/de0634308c25e8a94097cea33a993eb6/original
filed_notifications.txt
/www/snapshots/
/media/
/notebooks/
/.Trash-0/
notebooks/bokeh-examples
notebooks/home-assistant
frigate.yml
_2X68Q~5/config/www/recordings/2021-05-05/2LHXW6~X
.storage_backup/auth
.storage_backup/auth_provider.homeassistant
.storage_backup/auto_backup.snapshots_expiry
.storage_backup/camera
.storage_backup/cloud
.storage_backup/core.analytics
.storage_backup/core.area_registry
.storage_backup/core.config
.storage_backup/core.config_entries
.storage_backup/core.device_registry
.storage_backup/core.entity_registry
.storage_backup/core.restore_state
.storage_backup/core.uuid
.storage_backup/energy
.storage_backup/esphome.0d718f060cbd11eb9212e95ab8e7280b
.storage_backup/esphome.4daf0190dda30442f6bfac72c69dee78
.storage_backup/esphome.6defa977cba0b7c921ea6df9771d0bfa
.storage_backup/esphome.9c9bb76b9fea4762b4893c9d309381f4
.storage_backup/esphome.9d3a0f2b0091cdf1ffb98eab39614bff
.storage_backup/esphome.16d43d3fdaf154438d1ae0c68f507910
.storage_backup/esphome.28ac1771028bfe545606e42c59d24233
.storage_backup/esphome.69a78fbc786701bcfff0da7ae2adb57e
.storage_backup/esphome.548a37b919be968c8e40c9d729a42be6
.storage_backup/esphome.848f598196b1542f344085c68f40be91
.storage_backup/esphome.7746b7c014b5852bf7fa11fedfbc185a
.storage_backup/esphome.a6cce24d8458b8f2e5c2d58cf87c7019
.storage_backup/esphome.ac2eb5fae6c66ab5a37e7ac2697178f4
.storage_backup/esphome.b9b5bedcdcc1b520ca25631c02e4f8fb
.storage_backup/esphome.c5160cc32667e6d039e3573598197301
.storage_backup/esphome.cac3b49fa1b5dd84cf129c0baa51131f
.storage_backup/esphome.d096d45748f69cea73f235eef5472b5b
.storage_backup/esphome.d82697a881c571149267dd71ef702d26
.storage_backup/esphome.f7add507d991bd3492434c7b612cfd41
.storage_backup/frontend.user_data_32375eeea2f24d988f0621b23bb67708
.storage_backup/google_assistant
.storage_backup/hacs.critical
.storage_backup/hacs.hacs
.storage_backup/hacs.removed
.storage_backup/hacs.repositories
.storage_backup/hassio
.storage_backup/http
.storage_backup/image
.storage_backup/mobile_app
.storage_backup/onboarding
.storage_backup/person
.storage_backup/tmp41_jc2aj
.storage_backup/trace.saved_traces
.storage_backup/zone
.storage_backup/hacs/144899700.hacs
.storage_backup/hacs/146194325.hacs
.storage_backup/hacs/151280062.hacs
.storage_backup/hacs/155499113.hacs
.storage_backup/hacs/166045890.hacs
.storage_backup/hacs/172733314.hacs
.storage_backup/hacs/177978011.hacs
.storage_backup/hacs/180229356.hacs
.storage_backup/hacs/180440465.hacs
.storage_backup/hacs/190927524.hacs
.storage_backup/hacs/193372044.hacs
.storage_backup/hacs/194319685.hacs
.storage_backup/hacs/221287384.hacs
.storage_backup/hacs/221855213.hacs
.storage_backup/hacs/223993584.hacs
.storage_backup/hacs/236317072.hacs
.storage_backup/hacs/238446853.hacs
.storage_backup/hacs/248954055.hacs
.storage_backup/hacs/267558148.hacs
.storage_backup/hacs/272140589.hacs
.storage_backup/hacs/273007955.hacs
.storage_backup/hacs/278939615.hacs
.storage_backup/hacs/290261325.hacs
.storage_backup/hacs/299753146.hacs
.storage_backup/hacs/300358676.hacs
.storage_backup/hacs/311536795.hacs
.storage_backup/hacs/330644825.hacs
.storage_backup/hacs/331701152.hacs
.storage_backup/shelly/6484d2bcd8ad4e4dba74cc43cbe24bcf/config
