*.pyc
.google_maps_location_sharing.cookies.*
.google_maps_location_sharing.cookies_old
.homeconnect-token-cache
.storage
.ssh
.google.token
.cloud
.vscode
tts/
www/sander.png
www/tamara.png
.HA_VERSION
.uuid
personal/
freenas.yaml
plex.conf
home-assistant.log*
home-assistant_v2.db
secrets.yaml
ip_bans.yaml
known_devices.yaml
*.db-shm
*.db-wal
.google_maps_location_sharing.cookies.sanderbloklocation_gmail_com
/google_calendars
!.storage/lovelace
google_calendars.yaml
home-assistant_v2.db*
image/847be076e5a03fcb345e52f9aeecc067/512x512
image/847be076e5a03fcb345e52f9aeecc067/original
image/de0634308c25e8a94097cea33a993eb6/512x512
image/de0634308c25e8a94097cea33a993eb6/original
filed_notifications.txt
/www/snapshots/
/media/
/notebooks/
/.Trash-0/
notebooks/bokeh-examples
notebooks/home-assistant
frigate.yml
_2X68Q~5/config/www/recordings/2021-05-05/2LHXW6~X
.storage_backup/*
python_scripts/gateway*
python_scripts/settemp_try.py
