*.pyc 
.google_maps_location_sharing.cookies.*
.google_maps_location_sharing.cookies_old
.homeconnect-token-cache
.storage
.ssh
.google.token
.cloud
.vscode
tts/
www/sander.png
www/tamara.png
.HA_VERSION
.uuid
personal/
freenas.yaml
plex.conf
home-assistant.log
home-assistant_v2.db
secrets.yaml
ip_bans.yaml
known_devices.yaml
*.db-shm
*.db-wal
.google_maps_location_sharing.cookies.sanderbloklocation_gmail_com
/google_calendars
!.storage/lovelace
google_calendars.yaml
home-assistant_v2.db*