homeassistant:
  # Name of the location where Home Assistant is running
  name: Home
  # Location required to calculate the time the sun rises and sets
  latitude: !secret home_latitude
  longitude: !secret home_longitude
  elevation: !secret home_altitude
  unit_system: metric
  time_zone: Europe/Amsterdam
  country: NL
  packages: !include_dir_named packages
  customize: !include customize.yaml
  allowlist_external_dirs:
    - /tmp
    - /config
    - /share


# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:
api:
person:
mobile_app:

recorder:
  commit_interval: 30
  purge_keep_days: 14
  db_url: !secret mariadb_URL
  include:
    entities:
      - sensor.plug_nas_energy_today
      - sensor.blitzwolf_computer_energy_today
  exclude:
    entity_globs:
      #- sensor.*_human_readable
      #- sensor.*uptime*
      - sensor.hx711_raw_value_*
      - sensor.bedscale_output_voltage
      - sensor.hx711_value_*
      - sensor.docker_*_network_speed_*
    entities:
      - sensor.date
      - sensor.date_time
      - sensor.time_date
      - sensor.bed_time
      #- sensor.unavailable_entities
      - input_number.bedscalecalibration_helper
      - sensor.timestamp_local
      - sensor.timestamp_utc
      - sensor.hx711_value
      - sensor.bed_weight_drift_compensated
      - sensor.hx711_raw_value
      #- sensor.consumption_l1_w
      #- sensor.l1_v
      #- sensor.l1_a
      - sensor.time_until_wakeuplight_time
      - sensor.time
      - sensor.minutes_until_work_starts
      - sun.sun
            ##### BATTERY ENTITITES CREATED BY BATTERY_ALERT.YAML #####
      - sensor.balcony_motion_sensor_battery
      - sensor.bathroom_motion_sensor_battery
      - sensor.bedroom_illumination_battery
      - sensor.bedroom_motion_sensor_battery
      - sensor.bedroom_switch_battery
      - sensor.ble_humidity_a4c138760129_battery
      - sensor.ble_humidity_filament_box_sensor_battery
      - sensor.ble_humidity_kitchen_temp_battery
      - sensor.ble_humidity_plant_box_temp_battery
      - sensor.ble_humidity_study_temp_battery
      - sensor.ble_temperature_a4c138760129_battery
      - sensor.ble_temperature_filament_box_sensor_battery
      - sensor.ble_temperature_kitchen_temp_battery
      - sensor.ble_temperature_plant_box_temp_battery
      - sensor.ble_temperature_study_temp_battery
      - sensor.bonsai_battery_2
      - sensor.asperge_battery_2
      - sensor.cabinet_door_sensor_battery
      - sensor.calathea_battery_2
      - sensor.coffee_plant_battery_2
      - sensor.door_window_sensor_bedroom_closet_battery
      - sensor.electricblanket_temperature_battery
      - sensor.entry_motion_sensor_1_battery
      - sensor.entry_motion_sensor_2_battery
      - sensor.front_door_sensor_battery
      - sensor.euler_battery_2
      - sensor.herbs_battery_2
      - sensor.humidity_158d0003497e6c_battery
      - sensor.illumination_balcony_battery
      - sensor.illumination_bathroom_battery
      - sensor.illumination_entry_battery
      - sensor.illumination_livingroom_battery
      - sensor.sinas_battery_2
      - sensor.kitchen_door_sensor_battery
      - sensor.kitchen_illumination_battery
      - sensor.kitchen_motion_sensor_battery_old
      - sensor.livingroom_illumination_battery
      - sensor.livingroom_motion_sensor_1_battery
      - sensor.livingroom_motion_sensor_2_battery
      - sensor.livingroom_motion_sensor_3_battery
      - sensor.outside_humidity_battery
      - sensor.outside_pressure_battery
      - sensor.outside_temperature_battery
      - sensor.pressure_158d0003497e6c_battery
      - sensor.study_illumination_2_battery
      - sensor.study_illumination_battery
      - sensor.study_motion_sensor_1_battery
      - sensor.study_motion_sensor_2_battery
      - sensor.switch_158d0001a651cb_battery
      - sensor.switch_plants_battery
      - sensor.vacuum_cleaner_switch_battery
      - sensor.wall_switch_158d00028f7b34_battery
      - sensor.xiaomi_vacuum_cleaner_battery
      - sensor.bed_weight_change_per_minute
      ## battery groups
      - group.battery_status
      - automation.update_battery_status_group_members
      - automation.battery_sensor_from_attributes

influxdb:
  username: !secret influxdb_user
  password: !secret influxdb_pass
  max_retries: 3
  default_measurement: state
  include:
    domains:
      - sensor
      - binary_sensor
      - automation
      - device_tracker
      - input_boolean
      - input_number
      - number
      - light
      - switch
      - climate
    entities:
      - sensor.plug_nas_energy_today
      - sensor.blitzwolf_computer_energy_today
    entity_globs:
      - sensor.blitzwolf_*_energy_today
  exclude:
    entity_globs:
      #- sensor.br_*
      #- sensor.buienradar_*
      - sensor.*_human_readable
      - sensor.*uptime*
      # - sensor.blitzwolf_*_energy_factor
      # - sensor.blitzwolf_*_energy_reactivepower
      # - sensor.blitzwolf_*_energy_totalstarttime
      # - sensor.blitzwolf_*_energy_yesterday
      # - sensor.blitzwolf_*_energy_*_temperature
      # - sensor.blitzwolf_*_wifi_connect_count
      - sensor.bedscale_output_voltage
      - sensor.docker_*_network_speed_*
    entities:
      - sun.sun
      ##### BATTERY ENTITITES CREATED BY BATTERY_ALERT.YAML #####
      - sensor.balcony_motion_sensor_battery
      - sensor.bathroom_motion_sensor_battery
      - sensor.bedroom_illumination_battery
      - sensor.bedroom_motion_sensor_battery
      - sensor.bedroom_switch_battery
      - sensor.ble_humidity_a4c138760129_battery
      - sensor.ble_humidity_filament_box_sensor_battery
      - sensor.ble_humidity_kitchen_temp_battery
      - sensor.ble_humidity_plant_box_temp_battery
      - sensor.ble_humidity_study_temp_battery
      - sensor.ble_temperature_a4c138760129_battery
      - sensor.ble_temperature_filament_box_sensor_battery
      - sensor.ble_temperature_kitchen_temp_battery
      - sensor.ble_temperature_plant_box_temp_battery
      - sensor.ble_temperature_study_temp_battery
      - sensor.bonsai_battery_2
      - sensor.asperge_battery_2
      - sensor.cabinet_door_sensor_battery
      - sensor.calathea_battery_2
      - sensor.coffee_plant_battery_2
      - sensor.door_window_sensor_bedroom_closet_battery
      - sensor.electricblanket_temperature_battery
      - sensor.entry_motion_sensor_1_battery
      - sensor.entry_motion_sensor_2_battery
      - sensor.front_door_sensor_battery
      - sensor.euler_battery_2
      - sensor.herbs_battery_2
      - sensor.humidity_158d0003497e6c_battery
      - sensor.illumination_balcony_battery
      - sensor.illumination_bathroom_battery
      - sensor.illumination_entry_battery
      - sensor.illumination_livingroom_battery
      - sensor.sinas_battery_2
      - sensor.kitchen_door_sensor_battery
      - sensor.kitchen_illumination_battery
      - sensor.kitchen_motion_sensor_battery_old
      - sensor.livingroom_illumination_battery
      - sensor.livingroom_motion_sensor_1_battery
      - sensor.livingroom_motion_sensor_2_battery
      - sensor.livingroom_motion_sensor_3_battery
      - sensor.outside_humidity_battery
      - sensor.outside_pressure_battery
      - sensor.outside_temperature_battery
      - sensor.pressure_158d0003497e6c_battery
      - sensor.study_illumination_2_battery
      - sensor.study_illumination_battery
      - sensor.study_motion_sensor_1_battery
      - sensor.study_motion_sensor_2_battery
      - sensor.switch_158d0001a651cb_battery
      - sensor.switch_plants_battery
      - sensor.vacuum_cleaner_switch_battery
      - sensor.wall_switch_158d00028f7b34_battery
      - sensor.xiaomi_vacuum_cleaner_battery
      - sensor.bed_weight_change_per_minute
      ## battery groups
      - group.battery_status
      - automation.update_battery_status_group_members
      - automation.battery_sensor_from_attributes


# Text to speech
tts:
  - platform: google_translate
    service_name: google_say

lovelace:
  mode: yaml
  resources:
    - url: /local/community/apexcharts-card/apexcharts-card.js?v=2.1.2
      type: module
    - url: /local/community/mini-graph-card/mini-graph-card-bundle.js
      type: module
      #see https://github.com/kalkih/mini-graph-card
    # - url: "/local/custom_lovelace/floorplan_card/floorplan-card.js?v=1.1.14"
    #   type: module
    #   #see https://github.com/pkozul/lovelace-floorplan
    - url: "/local/community/lovelace-xiaomi-vacuum-card/xiaomi-vacuum-card.js?v=3.0.1"
      type: js
      #see https://github.com/benct/lovelace-xiaomi-vacuum-card
    - url: "/local/custom_lovelace/monster_card/monster-card.js"
      type: module
      #see https://github.com/custom-cards/monster-card/blob/master/README.md
    - url: "/local/community/lovelace-card-mod/card-mod.js?v=13"
      type: module
      #see https://github.com/thomasloven/lovelace-card-mod
    # - url: "/local/community/lovelace-postnl-card/postnl-card.js?v=0.12.2"
    #   type: module
    #   #see https://github.com/peternijssen/lovelace-postnl-card
    - url: "/local/community/lovelace-slider-entity-row/slider-entity-row.js?v=11"
      type: module
      #see https://github.com/thomasloven/lovelace-slider-entity-row
    # - url: /local/community/custom-ui/custom-ui.js?v=20200528
    #   type: module
      #see https://github.com/Mariusthvdb/custom-ui
    - url: /local/community/lovelace-xiaomi-vacuum-map-card/xiaomi-vacuum-map-card.js
      type: module
      #see https://github.com/PiotrMachowski/lovelace-xiaomi-vacuum-map-card
    - url: /local/community/lovelace-collapsable-cards/collapsable-cards.js
      type: module
    - url: /local/community/button-card/button-card.js
      type: module
    - url: /local/community/lovelace-auto-entities/auto-entities.js
      type: module
    - url: /local/community/decluttering-card/decluttering-card.js
      type: module
    - url: /local/community/lovelace-multiple-entity-row/multiple-entity-row.js
      type: module
  dashboards:
    # lovelace-yaml:
    #   mode: yaml
    #   filename: /config/ui-lovelace.yaml
    #   title: Old Dashboard
    #   show_in_sidebar: false
    lovelace-default:
      mode: yaml
      title: Overview
      filename: /config/default-lovelace.yaml
      icon: mdi:view-dashboard-variant
      show_in_sidebar: true
      require_admin: true
    lovelace-limited:
      mode: yaml
      title: Limited
      filename: /config/limited-lovelace.yaml
      icon: mdi:view-dashboard
      show_in_sidebar: true
      require_admin: false

notify:
  - name: loginfo
    platform: syslog

input_datetime:
  wakeup_time:
    name: Wakeup time
    has_time: true
    has_date: true

sensor:
  - platform: time_date
    display_options:
      - 'time'
      - 'date'
      - 'date_time'
      - 'time_date'

zone:
  - name: Home
    latitude: !secret home_latitude
    longitude: !secret home_longitude
    radius: 100
    icon: mdi:home-variant-outline
  - name: Parents
    latitude: !secret parents_latitude
    longitude: !secret parents_longitude
    radius: 250
    icon: mdi:human-male-female
  - name: Work
    latitude: !secret work_latitude
    longitude: !secret work_longitude
    radius: 500
    icon: mdi:office-building

cloud:

history:

logger:
  default: info
  logs:
    homeassistant.components.conversation: debug
    homeassistant.components.openai_conversation: info
    homeassistant.components.conversation.chat_log: info
    homeassistant.components.websocket_api.http.connection: warn
    # aiounifi: debug
    # homeassistant.components.unifi: debug
    # homeassistant.components.device_tracker.unifi: debug
    # homeassistant.components.switch.unifi: debug
    #homeassistant.components.xiaomi_miio.vacuum: notset
    #homeassistant.components.dsmr: notset
    #homeassistant.components.flux: notset
    homeassistant.components.command_line: warn
    homeassistant.components.command_line.switch: warn
    custom_components.alpha_innotec.coordinator: warn
    custom_components.dreame_vacuum.dreame.map: warn
    homeassistant.components.automation.system_network_query_nas_sensors: warn
    #homeassistant.components.reolink: debug
    #reolink_aio: debug
    #custom_components.mitemp_bt: debug
    #homeassistant.components.miflora: debug
    #homeassistant.components.mqtt: debug
    #custom_components.mitemp_bt: notset
    #custom_components.ble_monitor: debug
    #custom_components.xiaomi_cloud_map_extractor: debug
    asyncssh: warn
    #custom_components.unraid_monitor: info
    #custom_components.open_epaper_link: info
    # custom_components.open_epaper_link.image_decompressor: debug
    # custom_components.open_epaper_link.camera: debug
    #custom_components.dreame_vacuum.dreame.protocol: info
