current:
  name: "${device_name} Current"
  unit_of_measurement: A
  accuracy_decimals: 3
  id: current
  icon: mdi:current-ac
  filters:
    - multiply: ${current_multiplier}
    - throttle_average: 5s
    - or:
      - throttle_average: 60s
      - or:
        - delta: 0.5
        #- delta: 5%
    - round: 3
voltage:
  name: "${device_name} Voltage"
  unit_of_measurement: V
  accuracy_decimals: 1
  id: voltage
  icon: mdi:flash-outline
  filters:
    - multiply: ${voltage_multiplier}
    - throttle_average: 5s
    - or:
      - throttle_average: 60s
      - delta: 2.5
    - round: 1
power:
  name: "${device_name} Power"
  unit_of_measurement: W
  accuracy_decimals: 1
  id: power
  icon: mdi:gauge
  filters:
    - throttle_average: 5s
    - or:
      - throttle_average: 60s
      - or:
        - delta: 10.0
        #- delta: 10%
    - round: 1
