external_components:
  - source:
      type: local
      path: custom_components
    components: [bl0940]                       # ← tell ESPHome what to pick up
    refresh: 0s

substitutions:
  device_name: "Plug Washing Machine"
  plug_type: "Blitzwolf SHP10"
  espname: "plug-washing-machine"

  max_power: "3600.0" # watt
  max_temp: "70.0" # °C

# Tasmota responses
# 23:01:39.028 CMD: VoltageSet
# 23:01:39.035 MQT: stat/blitzwolf_washingmachine/RESULT = {"VoltageSetCal":33000}
# 23:01:43.291 CMD: CurrentSet
# 23:01:43.298 MQT: stat/blitzwolf_washingmachine/RESULT = {"CurrentSetCal":275000}
# 23:01:44.742 CMD: PowerSet
# 23:01:44.749 MQT: stat/blitzwolf_washingmachine/RESULT = {"PowerSetCal":1430}

# Calibrated 20240825T10:19 using heat gun 807W load (half power)
  current_res: "0.002523"
  voltage_div: "0.99904"  #20240825T06:41 changed from "1.008"
  current_multiplier: "0.9937"
  #ntc_reference_resistance: "10kOhm"
  #ntc_reference_temperature: "298.15K"

packages:
  plug_base: !include templates/blitzwolf_shp10_plug.yaml
  energy_yesterday: !include templates/plug_functions/plug_yesterday_energy.yaml
# wifi:
#   use_address: 10.0.30.136s
