substitutions:
  shelly_id: "Heat Pump"
  device_name: Shelly ${shelly_id}
  espname: "shelly-heatpump"

  ntc_b_constant: "3350"
  ntc_reference_resistance: "10kOhm"
  ntc_reference_temperature: "298.15K"

  voltage_multiplier: "1.00997" #20240825T06:45 changed from "1.008"
  current_multiplier: "0.993"

<<: !include templates/shellyplusPMmini.yaml

wifi:
  use_address: 10.0.30.178
