substitutions:
  shelly_id: "Washroom"
  device_name: Shelly ${shelly_id}
  espname: shelly-washroom
  shelly_type: "Shelly 1 Plus"

  detached_mode_restore_mode: "RESTORE_DEFAULT_OFF"
  relay_restore_mode: "RESTORE_DEFAULT_OFF"

packages:
  shelly: !include
    file: templates/shelly_1_plus.yaml
    vars:
      relay_restore_mode: ${relay_restore_mode}
      detached_mode_restore_mode: ${detached_mode_restore_mode}
#<<: !include templates/shelly_1_plus.yaml

wifi:
  use_address: 10.0.30.172
