substitutions:
  relay_restore_mode: "ALWAYS_ON"
  detached_mode_restore_mode: "RESTORE_DEFAULT_ON"

esphome:
  name: "${espname}"
  comment: 'Shelly 1'

esp8266:
  board: esp01_1m
  early_pin_init: false # Prevent relay toggle during boot
  framework:
    version: recommended

packages:
  wifi: !include /config/esphome/common/wifi.yaml
  network_diagnostics: !include /config/esphome/common/network_diagnostics.yaml
  base_config: !include /config/esphome/common/base_config.yaml
  inputs: !include
    file: /config/esphome/templates/shelly_functions/shelly_inputs.yaml
    vars:
      GPIO_pin: GPIO5
  relay: !include
    file: /config/esphome/templates/shelly_functions/shelly_relay.yaml
    vars:
      detached_mode_restore_mode: ${detached_mode_restore_mode}
      relay_restore_mode: ${relay_restore_mode}
      GPIO_pin: GPIO4
